.headerdogs {
  position: fixed;
  width: 100%;
  top: 0;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

@mixin headerdog {
  width: 80px;
  height: 80px;
  position: fixed;
  // border: 1px dotted red;
  border-radius: 50%;
  right: 20px;
}

.headerdog1 {
  @include headerdog();
  left: 100px;
}

.headerdog2 {
  @include headerdog();
  left: 50px;
  top: 90px;
}

.headerdog3 {
  @include headerdog();
  left: 10px;
}

.headerdog4 {
  @include headerdog();
  right: 100px;
}

.headerdog5 {
  @include headerdog();
  right: 10px;
}

.headerdog6 {
  @include headerdog();
  right: 70px;
  top: 90px;
}
