.headerdogs {
  position: fixed;
  width: 100%;
  top: 0;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

@mixin headerdog {
  width: 70px;
  height: 70px;
  position: fixed;
  // border: 1px dotted red;
  border-radius: 50%;
  right: 20px;
}

.headerdog1 {
  @include headerdog();
  left: 100px;
  top: 0px;
  animation: anim1 linear 2s 1;
  @keyframes anim1 {
    0% {
      left: -90px;
      top: -40px;
    }

    80% {
      left: 125px;
      top: 10px;
    }
  }
}

.headerdog2 {
  @include headerdog();
  left: 40px;
  top: 70px;
  animation: anim2 linear 2s 1;
  @keyframes anim2 {
    0% {
      left: -80px;
      top: 60px;
    }

    70% {
      left: 50px;
      top: 74px;
    }
  }
}

.headerdog3 {
  @include headerdog();
  left: 10px;
  top: 0px;
  animation: anim3 linear 2s 1;
  @keyframes anim3 {
    0% {
      left: -80px;
    }

    60% {
      left: 20px;
    }
  }
}

.headerdog4 {
  @include headerdog();
  right: 100px;
  top: 0px;
  animation: anim4 linear 2s 1;
  @keyframes anim4 {
    0% {
      right: 20px;
      top: -80px;
    }

    60% {
      right: 120px;
      top: 20px;
    }
  }
}

.headerdog5 {
  @include headerdog();
  right: 10px;
  top: 20px;
  animation: anim5 linear 2s 1;
  @keyframes anim5 {
    0% {
      right: -90px;
    }

    90% {
      right: 24px;
    }
  }
}

.headerdog6 {
  @include headerdog();
  right: 70px;
  top: 80px;
  animation: anim6 linear 2s 1;
  @keyframes anim6 {
    0% {
      right: -20px;
      top: 100px;
    }

    80% {
      right: 90px;
      top: 70px;
    }
  }
}
